* {
  margin: 0;
  padding: 0;
}

body {
 background-image: url('https://i.stack.imgur.com/kx8MT.gif');
 background-size: cover;
	/* background-image: url('https://media.tenor.com/ilGS4b269RYAAAAC/on-fire.gif');*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh ;
  background-color: black;
  font-family: CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
}

/* login */

.all-form-login {
  color: white;
  background: linear-gradient(to bottom, rgb(255, 153, 153), rgb(184, 179, 198));
/*background: linear-gradient(to bottom, #ff4d4d, #cc0000);*/
  padding: 20px 40px;
  font-size: 16px;
  border-radius: 7px;
  font-weight: bold;
  
}

.all-form-login h1{
  text-align: center;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-div input {
  padding: 5px 10px;
  width: 300px;
  height: 30px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.568);
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}

.input-div input:hover {
  border: 2px solid white;
}

.input-div select:hover {
  border: 2px solid white;
}

.button-div {
  text-align: center;
  margin-top: 15px;
}

.button-div button {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.15s;
  cursor: pointer;
  width: 150px;
}

.button-div button:hover {
  transform: scale(1.05);
}

.button-div button:active {
  transform: scale(1);
}

.a-div {
  margin: 20px 0;
  text-align: center;
}

.a-div a{
  font-size: 14px;
  color: white;
  display: inline-block;
  text-align: center;
  transition: color 0.15s;
}

.a-div a:hover{
  color: black;
}

.button-google-facebook {
  text-align: center;
  margin-top: 15px;
}

.button-google-facebook  a {
  	font-size: 16px;
 	font-weight: bold;
 	color: white;
 	text-decoration: none;
}

.button-google-facebook button {
  padding: 10px 25px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.568);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 320px;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-google-facebook button:hover{
  border: 2px solid white;
}

.button-google-facebook button .facebook {
  margin-right: 20px;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background: url("https://accounts.scdn.co/sso/images/new-facebook-icon.eae8e1b6256f7ccf01cf81913254e70b.svg") center center no-repeat;
}

.button-google-facebook button .google {
  margin-right: 20px;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background: url("https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg") center center no-repeat;
}

/* register  */
.input-div-gender {
  display: flex;
}

.input-div-gender div {
  margin: 0 10px;
}

.input-div select {
  padding: 5px 10px;
  width: 323px;
  height: 43px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.568);
  color: white;
  font-weight: bold;
  font-size: 16px;
}

select option{
  background-color: black;
}

.otp-a{
  color: white;
  transition: color 0.15s;
}

.otp-a:hover{
  color: black;
}

@media(max-width: 765px) {
	#form-register .input-div input{
		width: 174px;
	}
	
	#form-register .input-div select{
		width: 197px;
	}
}
