#button-play-in-track{
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: rgba(241, 18, 18, 0.995);
  color: rgb(255, 255, 255);
  transition: transform 0.15s;
  display: inline-block;
}

#button-play-in-track i{
	pointer-events: none;
}

#button-play-in-track:hover {
  transform: scale(1.1);
  filter: brightness(150%);
}

#button-play-in-track:active{
  opacity: 0.8;
  transform: scale(0.95);
}

.info-of-track-artist-in-page-playlist .avatar-profile {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
}

.role-artist-in-page-of-track {
  margin: 5px 0;
}

#button-save-to-libary-page-of-track {
  font-size: 45px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  transition: transform 0.15s;
}

#button-save-to-libary-page-of-track:hover {
  transform: scale(1.1);
  filter: brightness(150%);
}

#button-save-to-libary-page-of-track:active{
  opacity: 0.8;
  transform: scale(0.95);
}


#button-share-in-track {
  font-size: 45px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  transition: transform 0.15s;
}

#button-share-in-track:hover {
  transform: scale(1.1);
  filter: brightness(150%);
}

#button-share-in-track:active{
  opacity: 0.8;
  transform: scale(0.95);
}
