<!DOCTYPE html>
<html lang="en">

<head th:replace="~{_fragments::head}"></head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Chào Mừng!</h1>
                                    </div>

                                    <div th:if="${param.error}" class="text-center">
                                        <p class="alert alert-danger">Sai tài khoản hoặc mật khẩu</p>
                                    </div>

                                    <form method="post" th:action="@{/do-login}" class="user">

                                        <div class="form-group mb-3">
                                            <input name="username" type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" placeholder="Enter Email Address...">
                                        </div>

                                        <div class="form-group mb-3">
                                            <input name="password" type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="Password">
                                        </div>

                                        <!-- Remember Me -->
                                        <div class="form-check mb-3">
                                            <input name="remember-me" type="checkbox" class="form-check-input" id="rememberCheck">
                                            <label class="form-check-label" for="rememberCheck">Nhớ mật khẩu</label>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Đăng nhập
                                        </button>

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--Js-->
    <div th:replace="~{_fragments::js}"></div>

</body>

</html>
