<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- lỗi GET http://127.0.0.1:5500/favicon.ico 404 (Not Found)
          được fix bằng phía dưới
     -->
    <link rel="shortcut icon" href="#"> 

    <title>Music Web</title>
    <link rel="stylesheet" type="text/css" href="styles/general.css" />
    <link rel="stylesheet" type="text/css" href="styles/header.css" />
    <link rel="stylesheet" type="text/css" href="styles/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="styles/index.css" />
  </head>
  <body>
    <header class="header">
      <div class="left-header">
        <div class="display-image-of-track-playlist" >
          <a href="#">
            <img id="image-of-track-playlist" src="#" alt="">
          </a>
        </div>
        <div id="info-of-track-artist" class="info-of-track-artist">
          <div id="all-display-name-of-track" class="all-display-name-of-track">
            <a href="#" id="display-name-of-track"></a>
          </div>
          <div id="all-display-name-of-artist">
          </div>
        </div>
        <div id="heart-save-to-libary">
          <a href="#">
            <i class="fa-regular fa-heart"></i>
          </a>
        </div>
      </div>
      <div class="middle-header">
        <div class="all-button-for-play">
          <button>
            <i class="fa-solid fa-shuffle"></i>
          </button>
          <button>
            <i class="fa-solid fa-backward"></i>
          </button>
          <button class="button-play-music">
            <i class="fa-solid fa-play" id="icon-play-track"></i>
          </button>
          <button>
            <i class="fa-solid fa-forward"></i>
          </button>
          <button>
            <i class="fa-solid fa-repeat"></i>
          </button>
        </div>
        <div class="duration-header">
          <span id="start-duration"></span>
          <input type="range" value="0" id="progress">
          <span id="end-duration"></span>
        </div>
      </div>
      <div class="volume-div">
        <i id="volume-icon" class="fa-solid fa-volume-high"></i>
        <input type="range" min="0" max="1" step="0.01" value="1" id="volume-input">
      </div>
      <div class="right-header">
        <button>
          <i class="fa-solid fa-bars"></i>
        </button>
        <button class="sign-up">
          <a >Đăng ký</a>
        </button>
        <button class="sign-in">
          <a >Đăng nhập</a>
        </button>
      </div>
    </header> 

    <nav class="sidebar">
      <div class="top-sidebar">
        <ul>
          <li>
            <div class="top-sidebar-link">
              <a href="#" id="redirect-to-index">
                <span><i class="fa-solid fa-house"></i>
                </span>Trang chủ</a>
            </div>
          </li>
          <li>
            <div class="top-sidebar-link">
              <a href="#">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                Tìm kiếm
              </a>
          </li>
        </ul>
      </div>
      <div class="bottom-sidebar">
        <div class="flex-bottom-sidebar">
          <div class="top-sidebar-link">
            <a href="#">
              <span><i class="fa-solid fa-book-open"></i></span>
              Thư viện
            </a>
          </div>
          <div class="top-sidebar-link">
            <a href="#">
              <i class="fa-solid fa-plus"></i>
            </a>
            <i class="fa-solid fa-arrow-right"></i>
            <div class="hover-create-playlist">Tạo danh sách phát</div>
            <div class="hover-read-more">Xem thêm</div>
          </div>
        </div>
        <div class="filter-in-libary">
          <a href="#">Playlist</a>
          <a href="#">Nghệ sĩ</a>
          <a href="#">Album</a>
        </div>
        <div class="search-in-libary">
            <div class="search-input">
              <i id="i-search-libary" class="fa-solid fa-magnifying-glass"></i>
              <input id="input-search-libary" placeholder="Tìm trong thư viện" type="text">
              <div id="hover-search-in-libary" class="hover-search-in-libary">
                Tìm kiếm trong thư viện
              </div>
            </div>
            <div class="search-recently">
              <span>Gần đây <i class="fa-solid fa-list"></i></span>
            </div>
        </div>
        <div class="all-track-playList-artist-in-libary">
          <div class="track-playList-artist-in-libary">
            <div class="image-of-artist"> 
              <img src="images/libary/artist/wren-evans.jfif" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">Wren Evans</p>
              <p class="role-of-track-playList">Nghệ sĩ</p>
            </div>
          </div>
          <div class="track-playList-artist-in-libary">
            <div class="image-of-playList-track">
              <img src="images/libary/playlist/wren-evans-radio" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">Wren Evans Radio</p>
              <p class="role-of-track-playList">Danh sách phát<span> • Spotify</span></p>
            </div>
          </div>
          <div class="track-playList-artist-in-libary">
            <div class="image-of-playList-track">
              <img src="images/libary/playlist/hot-hit-vn.jfif" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">Hot Hits Vietnam</p>
              <p class="role-of-track-playList">Danh sách phát<span> • Spotify</span></p>
            </div>
          </div>
          <div class="track-playList-artist-in-libary">
            <div class="image-of-playList-track">
              <img src="images/libary/playlist/album-loi-choi.jfif" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">LOI CHOI: The Neo Pop Punk</p>
              <p class="role-of-track-playList">Album<span> • Wren Evans</span></p>
            </div>
          </div>
          <div class="track-playList-artist-in-libary">
            <div class="image-of-playList-track">
              <img src="images/libary/playlist/mew.jfif" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">My Playlist #1</p>
              <p class="role-of-track-playList">Danh sách phát<span> • Ho Khanh</span></p>
            </div>
          </div>
          <div class="track-playList-artist-in-libary">
            <div class="image-of-playList-track">
              <img src="images/libary/playlist/bai-hat-da-thich.png" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">Bài hát đã thích</p>
              <p class="role-of-track-playList">Danh sách phát<span> • 4 bài hát</span></p>
            </div>
          </div>
          <div class="track-playList-artist-in-libary">
            <div class="image-of-playList-track">
              <img src="images/libary/playlist/discovery-weekly.jfif" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">Discover Weekly</p>
              <p class="role-of-track-playList">Danh sách phát<span> • Spotify</span></p>
            </div>
          </div>
          <div class="track-playList-artist-in-libary">
            <div class="image-of-playList-track">
              <img src="images/libary/playlist/tuyen-tap-gducky.jfif" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">Tuyển tập của GDucky</p>
              <p class="role-of-track-playList">Danh sách phát<span> • Spotify</span></p>
            </div>
          </div>
          <div class="track-playList-artist-in-libary">
            <div class="image-of-playList-track">
              <img src="images/libary/playlist/daily-mix-2.jfif" alt="">
            </div>
            <div class="info-artist">
              <p class="name-of-artist">Daily Mix 2</p>
              <p class="role-of-track-playList">Danh sách phát<span> • Spotify</span></p>
            </div>
          </div>
        </div>  
      </div>
    </nav>

    <section  class="display-music">
      <div class="famous-artists">
        <img class="image-1" src="images/display-music/change-image/changeImage-1.webp" />
        <img class="image-2" src="images/display-music/change-image/changeImage-2.webp" />
        <img class="image-3" src="images/display-music/change-image/changeImage-3.webp" />
        <img class="image-4" src="images/display-music/change-image/changeImage-5.webp" />
        <img class="image-5" src="images/display-music/change-image/changeImage-4.webp" />
      </div>
      <div class="all-playlist-artist-track">
        <div class="grid-all-playlist-artist-track">
          <div class="title-and-see-all">
            <h1><a href="#">Đã nghe gần đây</a></h1>
          </div>
          <div id="all-recently-playlist" class="grid-playlist-artist-track">
            <!-- <div class="playlist-artist-track">
              <div class="image-of-artist-in-playlist-artist-track">
                <img src="images/display-music/recently-played/artist/wrxdie-artist.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">Wrxdie</p>
                <p class="artist-of-playlist-artist-track">Nghệ sĩ</p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/track/mai-linh.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">Mai Linh</p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">RZ Mas</a>,
                  <a href="#">24k.Right</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
                <audio class="song" >
                  <source type="audio/mpeg" 
                    src="audio/recently-played/[SPOTIFY-DOWNLOADER.COM] Mai Linh.mp3">
                  <span>Mai Linh_recently</span>
                </audio>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/playlist/moi-ra-lo.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">Mới ra lò</p>
                <p class="artist-of-playlist-artist-track">
                  Nhún nhảy theo những giai điệu mới toanh từ nghệ sĩ bạn 
                  theo dõi và đĩa đơn mới dành cho bạn. Cập nhật mỗi thứ Sáu
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/playlist/wren-evans-radio" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">Wren Evans Radio</p>
                <p class="artist-of-playlist-artist-track">
                  Với itsnk, 2pillz, GREY D và nhiều hơn nữa
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>  
            <div class="playlist-artist-track">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/track/bad-trip.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">Badtrip</p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">RPT MCK</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
                <audio class="song" >
                  <source type="audio/mpeg" 
                    src="audio/recently-played/[SPOTIFY-DOWNLOADER.COM] Badtrip.mp3">
                    <span>Badtrip_recently</span>
                </audio>
              </a>
            </div> -->
            <div class="playlist-artist-track">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/track/buon-hay-vui.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">
                  Buồn Hay Vui(feat.RPT MCK, Obito, Ronboogz & Boyzed)
                </p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">VSOUL</a>,
                  <a href="#">RPT MCK</a>,
                  <a href="#">Obito</a>,
                  <a href="#">Ronboogz</a>,
                  <a href="#">Boyzed</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
                <audio class="song" >
                  <source type="audio/mpeg" 
                    src="audio/recently-played/[SPOTIFY-DOWNLOADER.COM] Buồn Hay Vui (feat. RPT MCK, Obito, Ronboogz & Boyzed).mp3">
                    <span>Buồn Hay Vui(feat.RPT MCK, Obito, Ronboogz & Boyzed)</span>
                </audio>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/track/one-dance.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">
                  One Dance
                </p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">Drake</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
                <audio class="song" >
                  <source type="audio/mpeg" 
                    src="audio/recently-played/[SPOTIFY-DOWNLOADER.COM] One Dance.mp3">
                    <span>One Dance</span>
                </audio>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/track/phong-cach.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">
                  Phong Cách
                </p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">RPT MCK</a>,
                  <a href="#">LOPE PHAM</a>,
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
                <audio class="song" >
                  <source type="audio/mpeg" 
                    src="audio/recently-played/[SPOTIFY-DOWNLOADER.COM] Phong Cách.mp3">
                    <span>Phong Cách</span>
                </audio>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/track/phuc-sinh-cypher.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">
                  Phục Sinh Cypher 4
                </p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">Pain A.K.A Dai Ca P</a>,
                  <a href="#">Lil Wuyn</a>,
                  <a href="#">Datmaniac</a>,
                  <a href="#">Blacka</a>,
                  <a href="#">Pjpo</a>,
                  <a href="#">Datmaniac</a>,
                  <a href="#">Dai Ca P</a>,
                  <a href="#">MegaShock</a>,
                  <a href="#">Minh Lai</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
                <audio class="song" >
                  <source type="audio/mpeg" 
                    src="audio/recently-played/[SPOTIFY-DOWNLOADER.COM] Phuc Sinh Cypher 4.mp3">
                    <span>Phục Sinh Cypher 4</span>
                </audio>
              </a>
            </div>
            <div class="playlist-artist-track album-or-playlist">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/playlist/ai-cung-phai-bdtdd.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">
                  Ai Cũng Phải Bắt Đầu Từ Đâu Đó
                </p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">HIEUTHUHAI</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track album-or-playlist">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/playlist/my-play-list.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">
                  My Play List #1
                </p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">Ho Khanh</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track album-or-playlist">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/playlist/VSTRA.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">
                  VSTRA
                </p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">VSTRA</a>,
                  <a href="#">TGSN</a>,
                  <a href="#">Tyronee</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track album-or-playlist">
              <div class="image-of-playlist-track-in-playlist-artist-track">
                <img src="images/display-music/recently-played/playlist/rpt-mck-radio" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">
                  RPT MCK Radio
                </p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">Spotify</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-artist-in-playlist-artist-track">
                <img src="images/display-music/recently-played/artist/16-typh.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">16 Typh</p>
                <p class="artist-of-playlist-artist-track">Nghệ sĩ</p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-artist-in-playlist-artist-track">
                <img src="images/display-music/recently-played/artist/cool-kid.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">Cool Kid</p>
                <p class="artist-of-playlist-artist-track">Nghệ sĩ</p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-artist-in-playlist-artist-track">
                <img src="images/display-music/recently-played/artist/drake.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">Drake</p>
                <p class="artist-of-playlist-artist-track">Nghệ sĩ</p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-artist-in-playlist-artist-track">
                <img src="images/display-music/recently-played/artist/mck.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">RPT MCK</p>
                <p class="artist-of-playlist-artist-track">Nghệ sĩ</p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track">
              <div class="image-of-artist-in-playlist-artist-track">
                <img src="images/display-music/recently-played/artist/wren-evans.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">Wren Evans</p>
                <p class="artist-of-playlist-artist-track">Nghệ sĩ</p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
            <div class="playlist-artist-track album-or-playlist">
              <div class="image-of-artist-in-playlist-artist-track">
                <img src="images/display-music/recently-played/playlist/g-ducky-ep.jfif" alt="">
              </div>
              <div class="info-artist-in-playlist-artist-track">
                <p class="name-of-playlist-artist-track">G's</p>
                <p class="artist-of-playlist-artist-track">
                  <a href="#">GDucky</a>
                </p>
              </div>
              <a href="#" class="button-play">
                <i class="fa-solid fa-play"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div style="padding-bottom: 0px;"></div>
    </section>

    <script src="js/sidebar.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
