<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quên mật khẩu</title>
  <link rel="stylesheet" type="text/css" href="styles/login.css" />

</head>
<body>
  <div class="all-form-login">
    <h1>Quên mật khẩu</h1>
    <p th:if="${notification != null}" style="color: yellow; text-align: center; margin-top: 10px;" th:text="${notification}"></p>
    <form th:action="@{/forgetPassword/confirmForgetPassword}" method="post">
	    <div class="input-div">
	      <label>Email</label>
	      <input th:value="${email}" type="email" id="email" name="email" required>
	    </div>
	
	    <div >
	      <a href="#" class="otp-a" id="a-send-otp" >Gữi mã OTP</a>
	    </div>
	
	    <div class="input-div">
	      <label>Mã OTP</label>
	      <input th:value="${otp}" type="text"   name="Otp" required>
	    </div>
	
	    <div class="input-div">
	      <label>Mật khẩu mới</label>
	      <input th:value="${password}" type="password" name="password" required autocomplete="on">
	    </div>
	
	    <div class="button-div">
	      <button>Xác nhận</button>
	    </div>
	</form>
    <div class="a-div">
      <a th:href="@{/login}">Đăng nhập</a>
    </div>

    <div class="a-div">
      <a th:href="@{/register}">Đăng ký</a>
    </div>
    
  </div>
  
  <script th:src="@{/js/forget-password.js}"></script>
</body>
</html>